<!DOCTYPE html>
<html>
    <head>
        <title>Tale Services</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" href="static/favicon.ico">
    </head>

    <body>
        <nav>
            <ul>
                <li><a class="nlink" href="home">HOME</a></li>
                <li>Services</li>
                <li>About</li>
                <li>Contact</li>
                {% if current_user.is_authenticated %}
                  <li><a class="nlink" href="logout">LOGOUT</a></li>
                {% else %}
                  <li><a class="nlink" href="login">LOGIN</a></li>
                  <li><a class="nlink" href="register">SIGN UP</a></li>
                {% endif %}
            </ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert-{{ category }}">
              <p style="font-size: 20px; margin: 30px;">{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>